@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 60px 0;
  background-color: white;

  align-items: center;
  z-index: 0;
  position: relative;
  height: 12.5rem;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 13%;
  height: 100%;
  content: "";
  z-index: 50;
}
.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
.logos-slide {
  display: flex;
  flex: 0 0 auto;
  animation: 15s slide infinite linear;
  align-items: center;
}

.logo {
  height: 6.25rem;
  padding: 0 2.5rem;
}
